/* Global configs */

*, label[for="check-burger"], .copyright p, .menu-mobile-items ul {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

.h3 {
	color: #F4942A;
}

.colors-pallete {
	#75D7E4 #B1DFD3 #E4E7C6 #F4942A #FB7500
}

/* Fim */

/* Menu Mobile */

.menu-mobile {
	display: none;
}

.menu-mobile-bar .container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	cursor: pointer;
}

.menu-mobile-bar img {
	width: 70px;
}

.burger {
	cursor: pointer;
}

.burger-line {
	transition: all 0.2s ease;
	margin: 2px 0px;
}

#check-burger {
	display: none;
}

#check-burger:checked ~ label .burger-line {
	margin: 4px 0px;
}

.burger-line:nth-child(1) {
	width: 40px;
	height: 10px;
	background-color: #FFA92D;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.burger-line:nth-child(2) {
	width: 40px;
	height: 2px;
	background-color: #9FF459;
	border-radius: 2px;
}

.burger-line:nth-child(3) {
	width: 40px;
	height: 7px;
	background-color: #8E5328;
	border-radius: 10px;
}

.burger-line:nth-child(4) {
	width: 40px;
	height: 10px;
	background-color: #FFA92D;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.menu-mobile-items {
	display: none;
}

.menu-mobile-items ul {
	background-color: #FFF;
}

.menu-mobile-items ul li {
	font-size: 20px;
	list-style: none;
	text-align: center;
	padding: 10px 0px;
	margin: 0px 25px;
	border-bottom: 1px solid #F2E2A4;
}

.menu-mobile-items ul li a {
	color: #8E5328;
	text-decoration: none;
	transition: all 0.2s ease;
}

.menu-mobile-items ul li a:hover {
	color: #FFA92D;
}

/* Fim */

/* Menu do Topo */

.menu-desktop {
	display: block;
}

.menu {
	width: 100%;
	min-height: 70px;
	background-color: #000000;
	z-index: 99;
}

.menu-items {
	display: none;
	display: flex;
	flex-wrap: wrap;
	max-width: 500px;
	height: 100%;
	margin: auto;
}

.menu-item {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.menu-item:nth-child(1) {
	justify-content: flex-start;
}

.menu-item:nth-child(2) {
	justify-content: center;
}

.menu-item:nth-child(3) {
	justify-content: flex-end;
}

.menu-item a {
	color: #FFF;
	transition: all 0.5s ease;
}

.menu-item a:hover {
	color: #CCC;
}

.menu-item img {
	width: 70px;
}

/* Fim */

/* SubMenu */


/*.slogan {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('imgs/imagemprincipal.png') no-repeat center;
	height: 400px;
}

.slogan h1::after {
	content: '';
	width: 160px;
	height: 3px;
	display: block;
	margin: auto;
	background-color: #fa6900;
	margin-top: 10px;
}*/

/* Fim */

/* Conteudo */

.content h2 {
	font-weight: normal;
	font-size: 30px;
	text-align: center;
}

.content h2::after {
	content: '';
	width: 160px;
	height: 3px;
	display: block;
	margin: auto;
	background-color: #fa6900;
	margin-top: 15px;
}

.content {	
	padding: 40px 10px;
}

.content .row {
	margin-top: 60px;
}

.content p {
	margin-top: 10px;
}

.content a {
	text-decoration: none;
	outline: none;
	background-color: #F4942A;
	border: 1px solid #F4942A;
	padding: 6px 12px;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 30px;
	transition: all 0.5s ease;
}

.content a:hover {
	text-decoration: none;
	border-color: #fff;
	color: #fff;
}

/* Fim */

/* Telentrega */

.teleentrega {
	background: url('imgs/entrega.jpg') no-repeat center;
	text-align: center;
	height: 300px;
}

.teleentrega .container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 300px;
}

.teleentrega h3 {
	font-size: 36px;
	margin-bottom: 25px;
}

.teleentrega a {
	background-color: #F4942A;
	border: 1px solid #F4942A;
	transition: all 0.5s ease;
}

/* Fim */

/* Content2 */

.content2 {
	padding: 40px 10px;
	margin: 40px 0px;
	text-align: center;
}

.content2-text {
	margin: 60px 0px;
	text-transform: uppercase;
	font-weight: bold;
}

.content2-title {
	font-size: 18px;
	line-height: 25px;
	font-weight: normal;
}

.content2-title::after {
	content: '';
	width: 60px;
	height: 3px;
	display: block;
	margin: auto;
	background-color: #fa6900;
	margin-top: 5px;
	margin-bottom: 20px;
}

.content2 .redes {
	display: flex;
	justify-content: space-between;
	margin: auto;
	max-width: 168px;
}

.content2 .redes img:hover {
	transition: all 0.5s ease;
	filter: opacity(0.6);
}

/* Fim */

/* Rodapé */

.footer {
	padding-bottom: 10px;
	padding-top: 10px;
	min-height: 140px;
	color: #FFFFFF;
	background: url('imgs/rodape.jpg') no-repeat center;
}

.footer-infos {
	display: flex;
	flex-wrap: wrap;
}

.nossa-historia {
	flex: 2;
	min-width: 300px;
	max-width: 400px;
	margin-right: 50px;
}

.contato {
	min-width: 200px;
	flex: 1;
}

.redes-sociais {
	min-width: 200px;
	flex: 1;
}

.footer-title {
	margin-top: 10px;
	font-size: 18px;
	line-height: 25px;
	font-weight: normal;
}

.footer-title::after {
	content: '';
	width: 60px;
	height: 3px;
	display: block;
	background-color: #fa6900;
	margin-top: 5px;
}

.footer-text {
	margin-top: 15px;
	line-height: 23px;
}

.footer ul li {
	list-style: none;
}

.footer .redes {
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
	max-width: 168px;
}

.footer .redes img:hover {
	transition: all 0.5s ease;
	filter: opacity(0.6);
}

.copyright {
	width: 100%;
	height: 45px;
	font-size: 14px;
	line-height: 45px;
	background-color: #000000;
}

/* Fim */

/* Media Query */

@media only screen and (max-width: 992px) { 
	.content2 {
		padding: 10px;
	}

	.content2-bigimg {
		display: none;
	}

	.content2-infos .content2-infos-img {
		display: block;
		margin: auto;
		width: 260px;
	}
}

@media only screen and (max-width: 556px) {
	.menu-mobile {
		display: block;
	}

	.menu-desktop {
		display: none;
	}
}

/* Fim */